# ignore large data
/data

# ignore pycache
/src/__pycache__
/hw3/src/__pycache__
/hw3/__pycache__
/hw7/src/__pycache__
/hw7/__pycache__
/practice/src/__pycache__
/practice/__pycache__

# ignore vscode and pycharm setting
/.vscode
/.idea

# ignore /logs
/hw3/logs/**/*.h5
/hw7/logs/**/*.h5
/practice/logs/**/*.h5

# encode
/hw7/logs/**/encode.txt

# ignore jupyter notebook checkpoint:
/practice/notebook/.ipynb_checkpoints
