# ignore large data
/data

# ignore pycache
/src/__pycache__
/hw3/src/__pycache__
/hw7/src/__pycache__
/practice/src/__pycache__

# ignore vscode and pycharm setting
/.vscode
/.idea

# ignore /logs
/hw3/logs
/hw7/logs
/practice/logs

# ignore jupyter notebook checkpoint:
/practice/notebook/.ipynb_checkpoints
